<%= form_with model: @article do |form| %>
  
  <ul class="form-style-1">
  <li>
    <%= form.label :title %>
    <%= form.text_field :title %>
    <% @article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </li>
  
  <li>
    <%= form.label :body %>
    <%= form.text_area :body %>
    <% @article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
      <% end %>
      </li>
      <li>
        <%= form.label :status %><br>
        <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
      </li>
  <li>
      <%= form.submit %>
    </li>
</ul>
<% end %>
